body {
    background-image: url('/images/space.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 24px;
    padding-top: 120px;
    border-radius: 8px;
    text-align: center;
    position: relative;
}

img {
    width: 136px;
    position: absolute;
    top: -70px;
    transform: translateX(-50%);
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
}

label[for="email"],
label[for="password"] {
    font-size: 14px;
    color: #ffffff;
    text-align: left;
    display: block;
}

label[for="password"] {
    margin-top: 8px;
}

.password-container {
    position: relative;
    display: flex;
    align-items: center;
}

.toggle-password {
    position: absolute;
    right: 8px;
    cursor: pointer;
    font-size: 16px;
    color: #999;
}

.toggle-password:hover {
    color: #333;
}

label[for="remember"] {
    font-size: 14px;
    color: #ffffff;
}

.form-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input[type="email"],
input[type="password"],
input[type="submit"] {
    width: 280px;
    padding: 8px;
    margin: 8px 0;
    font-size: 16px;
}

input[type="submit"] {
    background-color: rgb(255, 255, 255);
    color: black;
    border: none;
    cursor: pointer;
    display: block;
    width: 100%;
    border-radius: 16px;
    font-size: 14px;
    margin-top: 40px;
}

input[type="submit"]:hover {
    background-color: #dfdede;
}

a {
    text-decoration: none;
    font-size: 14px;
    color: #ffffff;
}

a:hover {
    color: #2596be;
}

.register {
    font-size: 14px;
    color: #ffffff;
    margin-top: 8px;
}