body {
    background-image: url('images/space.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: rgba(122, 122, 122, 0.5);
    padding: 24px;
    padding-top: 120px;
    border-radius: 8px;
    text-align: center;
    position: relative;
}

img {
    width: 136px;
    position: absolute;
    top: -70px;
    transform: translateX(-50%);
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
}

label[for="email"],
label[for="password"] {
    text-align: left;
    display: block;
    margin-left: 4px;
}

input[type="text"],
input[type="password"],
input[type="submit"] {
    padding: 8px;
    margin: 8px 0;
    border: none;
    border-bottom: 2px solid rgb(222, 222, 222);
    font-size: 16px;
}

input[type="submit"] {
    background-color: rgb(255, 255, 255);
    color: black;
    border: none;
    cursor: pointer;
    width: 95%;
    border-radius: 16px;
    font-size: 14px;
}

input[type="submit"]:hover {
    background-color: #fff8f8;
}

a {
    text-decoration: none;
    font-size: 14px;
}

a:hover {
    color: #007bff;
}